@use "sass:color";
@use "../../attractions-theme" as vars;

nav.left {
  display: none;

  @media only screen and (min-width: 1024px) {
    position: fixed;
    height: 100%;
    border-right: 1px solid color.adjust(vars.$main, $alpha: -0.75);
    display: block;
    min-width: 15em;
    padding: 2em 3em 0.5em 0;

    :global .btn {
      margin-bottom: 0.25em;
      white-space: nowrap;
    }

    :global .accordion {
      align-items: flex-start;
      display: flex;
      flex-direction: column;

      section {
        align-items: flex-start;
        border-left: 1px solid vars.$light-contrast;
        display: flex;
        flex-direction: column;
        margin: 0.5em 0 0.5em 1em;
        padding-left: 0.5em;
      }
    }
  }
}

nav.right {
  display: none;

  @media only screen and (min-width: 1024px) {
    height: 100%;
    position: fixed;
    right: 8vw;
    border-left: 1px solid color.adjust(vars.$main, $alpha: -0.75);
    display: block;
    min-width: 15em;
    padding: 2em 0 0.5em 3em;

    :global .btn {
      margin-bottom: 0.25em;
      white-space: nowrap;
    }

    :global .accordion {
      align-items: flex-start;
      display: flex;
      flex-direction: column;

      section {
        align-items: flex-start;
        border-right: 1px solid vars.$light-contrast;
        display: flex;
        flex-direction: column;
        margin: 0.5em 1em 0.5em 0;
        padding-right: 0.5em;
      }
    }
  }
}

nav.wrapper {
  display: none;
  @media only screen and (min-width: 1024px) {
    display: block;
    min-width: 15em;
    padding: 0.5em 0 0.5em 3em;
  }
}